*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Manrope', sans-serif;
    background-color: #223;
  }

  .box {
    background-color: #345;
    min-width: 350px;
    max-width: 550px;
  }

  #id { color: #5c9; }
  #advice { font-size: 24px; }

  button {
    background-color: #5c9;
    width: 50px;
    height: 50px;
    bottom: -22px;
    cursor: pointer;
  }
  button:active, button:hover { box-shadow: 0 0 48px #5c9; }

  .attribution { font-size: 12px; }
  .attribution a { color: #5c9; }